name: Close Stale Issues and PRs

on:
  schedule:
    - cron: '30 1 * * *' # Runs every night at 1:30 AM

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v10
        with:
          stale-issue-message: 'This issue is stale because it has been open for 60 days with no activity. Comment here or it will be closed in 7 days.'
          stale-pr-message: 'This PR is stale because it has been open for 60 days with no activity. Please push an update or it will be closed.'
          days-before-stale: 60
          days-before-close: 7
          stale-issue-label: 'stale'
          stale-pr-label: 'stale'
